.outerbox{
    position: relative;
    width: 90vw;
    height: 25vh;
    outline: 2px solid;
    margin: 0 auto;
}

.images{
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.images > img {
    min-width: 24.7%;
    padding:.1rem
    
}
.scrollleft{
    top: 44%;
    left:-1.5rem;
}
.scrollright{
    top: 44%;
    right:-3.5rem;

}


